body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

input,
button {
  outline: none;
}

.page-layout {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  margin-top: 5rem;
  padding: 0 2rem;
  gap: 2rem;
}
